* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #78CEE9;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    max-width: 600px;
    margin: 20px auto;
    border: 5px solid #00CB4A;
}

img {
    width: 25%;
    max-height: 100%;
    max-width: 100%;
    float: right;
    margin: 0 3em 3em 3em;
}

p {
    margin: 0 2em;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
    padding-top: 35px;
}

h2 {
    margin: 0 1.5em;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

li {
    display: inline;
    font-weight: 700;
}

nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #00CB9D;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: white;
    text-decoration: none;
}

nav li+li:before {
    content: " | ";
    padding: 0 5px;
    color: #808080;
}